.nav {
  grid-area: n;
}

.refsList {
  list-style: none;
  margin: 0;
  padding: 30px;
  height: 100%;
  background-color: cornflowerblue;
}

.item {
  font-size: 24px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.link {
  color: #fff;
}

.link.active {
  color: gold;
}
