.wrapper {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsContainer {
  padding: 30px;
}

.messagesContainer {
  padding: 30px;
}

.title {
  margin-bottom: 20px;
  color: blueviolet;
}
